{% extends 'shopapp/base.html' %}

{% block title %}
    Article # {{ object.pk }} details
{% endblock %}

{% block body %}
    <h1>Article # {{ object.pk }}</h1>
    <div>
        <p><b>Title: </b>{{article.title}}</p>
        <p><b>Content: </b>{{article.content}}</p>
    </div>
    <div>
        <h3>Author:</h3>
        <p>Name: {{article.author.name}}</p>
        <p>Bio: {{article.author.bio}}</p>
    </div>
    <div>
        <a href="{% url 'blogapp:articles_list' %}">Back to articles list</a>
    </div>

{% endblock %}
